body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1da1f2;
}

.twitter-login-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.twitter-login-container h1 {
    color: #1da1f2;
}

.username-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #1da1f2;
    border-radius: 5px;
}

.ingresar-btn {
    background-color: #1da1f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ingresar-btn:hover {
    background-color: #0d91e5;
}
